@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, #050A30 0%, #58cff1 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #222;
    width: 320px;
    height: 70px;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    box-shadow: 0 20px 30px rgba(9, 52, 112, 0.5);
    overflow: hidden;
}

#eye-wrapper{
    background-color: #fff;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transform: translate(0, -50%);
    transition: 0.5s;
}

i {
    font-size: 24px;
}

input{
    width: 270px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    background: transparent;
    border: none;
    outline: none;
    font-family: "poppins", sans-serif;
    color: #0a68e8;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    z-index: 2;
    padding-left: 40px;
}

#lock{
    position: absolute;
    width: 28px;
    top: 33%;
    left: 8px;
    z-index: 2;
    transform: translate(0, -50%);
}

#open{
    display: none;
}

#open,#close {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 2.5px;
    width: 25px;
}